.suggestion-cards-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fill, 14rem);
    text-align: center;
    gap: 0.5rem;
    padding: 0.5rem;
}
  
.suggestion-card {
    border: 1px solid blue;
    background-color: lightgray;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
}
  