  
.suggestion-card {
    border: 1px solid blue;
    background-color: lightgray;
    border-radius: 8px;
    padding: 1rem;
    width: 100%;
}
  

.searchBar{
    /* margin-bottom: 5vh; */
    padding-top: 15vh;
    justify-content: center;
    display: flex;
    /* padding-top: 5px; */

}

.Banner{

    height: 12.5vh;
    position: fixed;
    z-index: 300;
    background-color: white;
}

.Banner button {
    background: none;
    border: none;
}

.genre-cards-container{

}