.PlayerPage {
  height: 100vh;
  display: grid;
  grid-template-rows: 15% 50% 10% 25%;
  text-align: center;
}
.Banner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
}

.bi.bi-arrow-left {
  font-size: 40px;
}
.bi.bi-three-dots {
  font-size: 40px;
}

.RadioInfo {
  height: 100%;
  align-items: center;
  flex-direction: column;
  display: flex;
  gap: 10px;
  justify-content: center;
}

.TimerInfo {
  height: 100%;
  margin: 5px;
}

.BannerTitle {
  font-size: 35px;
}
.startTimerButton {
  margin: 5px;
}
.PlayBackFunctionality {
  display: flex;
}
.bi {
  font-size: 80px;
}
.bi.nextPrev {
  height: 100%;

  margin: 20px;
  font-size: 40px;
}
