.PlayerPage {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(auto, 3);
  text-align: center;
}

.Banner {
  display: grid;
  grid-template-columns: repeat(3, auto);
  width: 100%;
  align-items: center;
}

.bi.bi-arrow-left {
  font-size: 40px;
}
.bi.bi-three-dots {
  font-size: 40px;
}

.RadioInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding-top: 15vh;
}

.radio-frequency {
  font-size: 3.5rem;
  font-weight: normal;
}

.radio-name {
  font-weight: normal;
}

.radio-description {
  font-size: 1rem;
  font-weight: normal;
}

.TimerInfo {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.BannerTitle {
  font-size: 35px;
}

.time-selector-container {
  display: flex;
}

.time-selector {
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 8px;
}


